@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  body {
    font-family: 'Raleway', sans-serif;
    color: #464646;
  }
  html {
    scroll-behavior: smooth;
  }

  .banner {
    height: 352px;
    width: 100vw;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 41.15%,
        rgba(0, 0, 0, 0.8) 100%
      ),
      url('./assets/banner-image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
